
@{
    ViewBag.Title = "About Us";
}

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: blanchedalmond;
        color: aliceblue
    }

</style>


<h2>About Us</h2>

<p>Welcome to KhumaloCraft Emporium, where craftsmanship meets innovation. Founded by James Khumalo, a visionary entrepreneur, KhumaloCraft Emporium strives to be a global e-commerce platform dedicated to showcasing handcrafted products from artisans around the world.</p>

<h3>Our Story</h3>

<p>Founded in 2018, KhumaloCraft has been crafting unique and high-quality handmade items for 6 years. Our journey began with a vision to allow creators of authentic and homemade/handcrafted products to reach a larger audience to showcase their brillance and innovation, we felt that many creators of this art form didnt get recognized for their work and we wanted to chnage this. Since then, we have grown into a thriving business, serving customers worldwide with our exceptional craftwork.</p>

<h3>Our Mission</h3>

<p> 
    James'dream is to bridge the gap between artisans and a discerning global audience. To turn this dream into reality, KhumaloCraft Emporium requires a scalable, accessible, and user-friendly platform. This entails leveraging cloud computing technologies and understanding various service models to create a platform that is not only globally accessible but also provides a seamless and enjoyable user experience.
</p>
<h3>What have we Aimed to Create</h3>

<p>Our platform is designed to accommodate growth while ensuring security and accessibility for all users. We face challenges in making critical decisions regarding cloud service models, deployment strategies, and database design to support our platform's scalability.</p>

<ul>
    <li>James Khumalo, Founder & Master Artisan</li>
    <li>Nikhile Reddy, Head of Design</li>
    <li><a href="https://www.instagram.com/nikhile_reddy13/">Nikhile Reddy, Head of Design</a></li>
    
</ul>
