@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        background-color: blanchedalmond;
        color: aliceblue
    }

</style>
<p>
    Last updated: [27/03.2024]<br />
    KhumaloCraft we operate the Site. This page informs you of our policies regarding the collection, use, and disclosure of Personal Information we receive from users of the Site.
</p>

<h3>Information Collection And Use</h3>

<p>
    While using our Site, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information may include, but is not limited to your name, email,and other data.
</p>

<h3>Log Data</h3>

<p>
    Like many site operators, we collect information that your browser sends whenever you visit our Site 
</p>



